services:
  - type: web
    name: bayanlab-api
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    region: ohio 
    healthCheckPath: /healthz
    envVars:
      - key: API_HOST
        value: 0.0.0.0
      - key: API_PORT
        value: 8000
      - key: LOG_LEVEL
        value: INFO
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_URL_SYNC
        sync: false
